.price{
    min-height: 610px;
    padding-top: 53px;
    &__title{
        padding-bottom: 20px;
    }
    &__descr{
        color: #2e2e2e;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        padding-top: 17px;
        padding-bottom: 35px;
    }
    &__block{
        width: 261px;
        height: 355px;
        border: 1px solid #a3a3a3;
        padding-right: 10px;
        &_descr{
            text-align: center;
            color: #2e2e2e;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            span{
                color: #ec644b;
                font-size: 28px;
            }
        }
    }
    &__blockG{
        padding-right: 30px;
    }
    &__box{
        display: flex;
    }
    &__line{
        width: 260px;
        height: 61px;
        background-color: #25333c;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__img{
        padding-top: 14px;
        padding-left: 90px;
        padding-bottom: 12px;
    }
    &__subdescr{
        color: #2e2e2e;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        padding-top: 5px;
    }
    &__button{
        padding-top: 18px;
        padding-left: 58px;
    }
}